

<div>
    <img src="https://static.wixstatic.com/media/a38fce_647a37f4077c4f1a9bc50a4b939f2bf0.png/v1/fill/w_213,h_160,al_c,usm_0.66_1.00_0.01/a38fce_647a37f4077c4f1a9bc50a4b939f2bf0.png" class="img-responsive" alt="Responsive image">
</div>    

    <div>
      <span class="texto">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis           natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,      pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus
      </span>
    </div>
